:root {
    --mspa-grey: #efefef;
    --dark-grey: #1e1e1e;
    --grey-white: #ededed;
    scrollbar-color: grey transparent;
}

@keyframes background_scroll {
    to {
        background-position: -128px -128px;
    }
}

body {
    font-family: verdana;
    color-scheme: light dark;
    background-color: light-dark(var(--grey-white), var(--dark-grey));
    color: light-dark(black, white);
    background-size: 128px;
    background-position: 128px 128px;
    margin: 0;
    font-family:"CreatoRegular";
}

.divider {
    border-width: 4px 0;
    border-style: outset;
    border-color: var(--lohac-red);
    background: linear-gradient(var(--lohac-dark-red), var(--lohac-red));
    min-height: 20px;
    color:white;
}

.banner {
    background: url(/assets/bg_lohac.gif);
    background-size: cover;
    background-attachment:fixed;
    background-position:bottom;
    width: 100%;
    padding-top: 70px;
    image-rendering: pixelated;
    color: white;
}

.categories {
    display: grid;
    grid-template-columns: 500px 500px;
    max-width: 1000px;
    margin: auto;

    & a {
        text-decoration: none;
    }
}

@media only screen and (max-width:1000px) {
    .categories {
        grid-template-columns: 50% 50%;
    }
}

a {
    color: red;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "CreatoBold";
    font-weight:normal;
}

.container {

    color: black;
    background-color: var(--mspa-grey);
    backdrop-filter: blur(5px);
    border: solid 4px rgb(167, 167, 167);
    border-radius: 5px;
    margin: 6px;
    transition: scale 0.2s;

    & .padding {
        padding: 20px;
    }

    & h1,
    h2,
    h3 {
        font-family:courier;
        font-weight:bold;
        font-size:180%;
        margin: 0;
    }

}

img {
    max-width: 100%;
}

.subscript {text-align:center;font-style: italic;font-size:small;}